# Игнорировать файлы и папки, созданные IDE
.idea/
.vscode/

# Игнорировать скомпилированные файлы
*.class
*.jar

# Игнорировать временные файлы
*.tmp
*.bak

# Игнорировать зависимости и библиотеки
/node_modules/
/lib/

# Игнорировать сгенерированные файлы
/dist/
/build/

# Игнорировать логи и отчеты об ошибках
/logs/
/reports/

# Игнорировать конфигурационные файлы
*.config
*.properties

# Игнорировать файлы с паролями и ключами
*.pem
*.key
*.secret

# Игнорировать временные файлы редактора
*~

# Игнорировать файлы настроек пользователя
.settings/